html {height:100%;}
body {height:100%; margin:0; padding:0;}

#intro {
    background: url(../images/intro.jpg) 50% 0 fixed;
    position: fixed;
    height:100%;
    top: 0;
    left: 0;
  /* Preserve aspet ratio */
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
     background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;


}



#intro h1 {
    color: #fff;
    font-size: 50px;
    padding-top: 25%;
}

#intro h2 {
    color: #fff;


}
#home {
    background: url(../images/bg2.jpg) 50% 0 fixed;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
   }



#home h1 {
    color: #fff;

}

#home a {
    color: red;

}

#about {
    background: url(../images/bg.jpg) 50% 0 fixed;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    color: #fff;
}






/* ==================================================
   Contact Section
================================================== */


#contact-form {
	margin-bottom: 0;
    position: relative;
}

#contact-form p {
	margin-bottom: 1px;
}

#contact-form input,
#contact-form textarea {
    border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	background: #26292E;
    color: #FFFFFF;
    font-size: 16px;
    height: auto;
    padding: 15px;

    resize: none;
}

#contact-form input {
    width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    align-content: center;
}

#contact-form textarea {
    width: 100%;
    height:50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#contact-form .submit {
    background: #3C3F45;
    color: #23262C;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 40px;
    text-align: center;
    vertical-align: middle;
    width: auto;
	margin-top: 30px;

	-webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;
	   -moz-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		 -o-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		    transition: background 0.1s linear 0s, color 0.1s linear 0s;
}

#contact-form .submit:hover {
    background: #009688;
    color: #FFFFFF;
}

#response {
	margin-top: 20px;
	color: #FFFFFF;
}


.title {
 color:#fff;
    font-size: 50px;
    padding: 3%;
}
